<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>474568791761-84c5qf9ks5qkr1bdf88hq43a5h6ctki4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCweJg_DikMrUy9LZPRzYqCZPP1LicJKqU</string>
	<key>GCM_SENDER_ID</key>
	<string>474568791761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.idute.idute</string>
	<key>PROJECT_ID</key>
	<string>bylaive-aeeeb</string>
	<key>STORAGE_BUCKET</key>
	<string>bylaive-aeeeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474568791761:ios:402d05040aa2ca53bf17f0</string>
	<key>DATABASE_URL</key>
	<string>https://bylaive-aeeeb-default-rtdb.firebaseio.com</string>
</dict>
</plist>